<% include partials/header.ejs %>
<div class="main-youtube">
    <div class="main-login">
        <div class="imgcontainer-login">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/1280px-Logo_of_YouTube_%282015-2017%29.svg.png"
                alt="Avatar" class="avatarYT">
        </div>

        <div class="container-youtube">
            <form id="youtube">
                <label for="link"><b>Unesite YouTube Link</b></label>
                <input type="text" placeholder="Enter YouTube Link" id="youtube-id" required>


                <button type="submit" id="button-youtube">Download</button>
<!-- 
                <div id="youtube-load">
                    <p>Please wait...</p>
                    <img src="https://loading.io/spinners/eclipse/lg.ring-loading-gif.gif" alt="Downloading" class="loading">
                </div> -->
            </form>
        </div>

    </div>
</div>

<% include partials/footer.ejs %>